/*
    Created:    08/29/2022 
    Programmer: Brian Zoulko
    Notes:      This module is used to identify grid cell placement of images or text on the web-page.
    
    Modification
    ============
    08/28/20022 Brian Zoulko    built css module to help facilitate in portfolio development.

*/

/* Define display area. */
.grid-container {
    display: grid;
}
  

/* Define the format of cell(s) within the container. */
.grid-cells {
    text-align: center;
    font-size: 30px;
    background-color: white;
}


/* Cell positions inside a grid. Current use in portfolio main section. */
.cell-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;    
}
.cell-2 {
    gap: 15px;
    padding: 15px;
    background-color: black;
    grid-column: 3;
    grid-row: 1 / span 2;    
}
.cell-3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}
.cell-4 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 3;
}


/* Cell positions inside a grid. Current use in WORK section of the portfolio. */
.cell-c1-r1 {
    grid-column: 1;
    grid-row: 1;
}
.cell-c2-r1 {
    grid-column: 2 ;
    grid-row: 1;
}
.cell-c1-r2 {
    grid-column: 1 ;
    grid-row: 2;
}
.cell-c2-r2 {
    grid-column: 2 ;
    grid-row: 2;
}


/* Highlight cell when cursor hovers over */
.cell-highlight:hover {
    box-shadow: inset 0px 0px 8px lightblue, 0 0 15px darkblue;
}
